.button {
  --col: white;
  outline: none;
  border: solid 1px var(--col);
  background: var(--col);
  font-size: 1.125rem;
  padding: var(--sp) var(--sp2);
  border-radius: var(--sp);
  cursor: pointer;
  flex-shrink: 0;
  color: var(--bg);
  transition: var(--trans);
  font-family: var(--font-grotesk);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp);
}

.icon {
  width: 24px;
  height: 24px;
}

.button:hover,
.button:focus-visible {
  background: none;
  color: var(--col);
  transform: scale(1.00625) translateY(-1px);
}

.primary {
  --col: var(--pri);
}

.secondary {
  background: var(--acc1);
  color: var(--acc4);
  border: solid 1px var(--acc2);
}

.secondary:hover,
.button:focus-visible {
  color: var(--acc6);
  background: var(--bg);
  border: solid 1px var(--acc5);
}

.button:disabled,
.button:disabled:hover {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:disabled:hover {
  transform: none;
}

.destructive {
  --col: var(--red);
}

.gradient {
  background: linear-gradient(45deg, var(--blue), var(--cyan));
  border-color: white;
}

.gradient:hover {
  border-color: var(--blue);
}
