.skeleton {
  background: var(--acc1);
  border: solid 1px var(--acc2);
  border-radius: var(--sp);
  overflow: hidden;
  --size: 32px;
}

.outer {
  width: 100%;
  height: 100%;
  animation: move 3s ease-in-out infinite;
  position: relative;
}

.inner {
  height: 100%;
  width: var(--size);
  background: var(--acc4);
  filter: blur(var(--size));
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes move {
  from,
  to {
    width: var(--size);
  }
  50% {
    width: 100%;
  }
}

.noBackground {
  background: none;
}

.noBorder {
  border: none;
}

.childrenContainer {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hasLoaded {
  animation: fadeIn 250ms ease-in-out 250ms forwards;
}
