.button {
  background: var(--acc-1);
  border: solid 1px var(--acc-2);
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: var(--sp);
  padding: var(--sp);
  border-radius: var(--sp);
  color: var(--acc-3);
  transition: var(--trans);
}

.button:hover {
  color: var(--acc-6);
}

.button:hover {
  cursor: pointer;
  border-color: var(--acc-6);
}

.enabled,
.enabled:hover {
  color: var(--pri);
}

.enabled:hover {
  border-color: var(--pri);
}

.button:disabled,
.button:hover:disabled {
  color: var(--acc-3);
  cursor: not-allowed;
}

.button:disabled {
  border-color: var(--acc-2);
}

.button:hover:disabled {
  border-color: var(--acc-3);
}

.button span {
  flex-grow: 1;
  text-align: left;
}
