.page {
  width: 100%;
  height: calc(100vh - var(--header) - 2px);
  display: flex;
}

.nav {
  background: var(--acc1);
  width: 360px;
  border-right: solid 1px var(--acc2);
  overflow-y: auto;
  padding: var(--sp2);
}

.nav li {
  margin: var(--sp2) var(--sp2);
  padding-left: var(--sp);
  font-size: 1rem;
}

.nav ul {
  list-style: none;
}

.link {
  color: var(--blue);
}

.link:hover {
  text-decoration: underline;
}

.sectionTitle {
  color: var(--fg);
  font-size: 1.125rem;
  font-family: var(--font-grotesk);
}

.md {
  overflow-y: auto;
  width: 100%;
  color: var(--fg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: var(--sp4);
}

.md > * {
  max-width: 720px;
  text-align: left;
  width: 100%;
}

.md li {
  margin: var(--sp2) var(--sp4);
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5 {
  margin-top: var(--sp2);
  margin-bottom: var(--sp);
}

.md p,
.md span {
  display: block;
  margin: var(--sp) 0;
}

.md code {
  padding: 2px 4px;
  border-radius: 4px;
}

.md code,
.md pre {
  background: var(--acc2);
}

.md code,
.md pre,
.md pre code {
  font-family: var(--font-mono);
}

.md pre {
  width: 100%;
  padding: var(--sp2);
  border-radius: var(--sp);
  margin: var(--sp2) 0;
}

.md a {
  color: var(--blue);
}

.md a:hover {
  text-decoration: underline;
}

.md blockquote {
  background: var(--acc1);
  padding: var(--sp);
  border-left: solid 4px var(--acc2);
  color: var(--acc8);
  font-family: var(--font-grotesk);
  margin: var(--sp2) 0;
}
