.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container h1 {
  font-family: var(--font-grotesk);
  font-size: 3rem;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--sp8);
}

.left {
  background: var(--acc1);
  justify-content: space-around;
  gap: var(--sp2);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--sp2);
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--sp6);
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: var(--sp2);
}

.featureCheck {
  color: var(--pri);
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.featureText {
  display: flex;
  flex-direction: column;
  gap: var(--sp);
}

.featureTitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.featureSubtitle {
  color: var(--acc5);
  font-weight: lighter;
  font-size: 1.10625rem;
}

.right {
  gap: var(--sp6);
}

.title {
  font-family: var(--font-mono);
  font-size: 2rem;
}

.buttons {
  display: flex;
  gap: var(--sp4);
  width: 100%;
}

.buttons > * {
  width: 50%;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: var(--sp4);
  flex-grow: 1;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spinner {
  width: 36px;
  height: 36px;
  color: var(--pri);
  opacity: 0;
  transform: scale(0.5);
  transition: var(--trans-slow);
  animation: spin 1s ease-in-out infinite;
}

.showSpinner {
  transform: scale(1);
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
