@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto+Mono&family=Space+Grotesk:wght@300;400;700&display=swap");

:root {
  --bg-rgb: 255, 255, 255;
  --bg: rgb(var(--bg-rgb));
  --acc7: #111;
  --acc6: #333;
  --acc5: #666;
  --acc4: #777;
  --acc3: #999;
  --acc2: #eaeaea;
  --acc1: #fafafa;
  --gray: var(--acc4);
  --white: #fff;
  --black: #000;
  --fg: rgb(var(--fg-rgb));
  --fg-rgb: 35, 31, 32;
  --pri-rgb: 30, 144, 255;
  --sec-rgb: 242, 100, 48;
  --tri-rgb: 0, 155, 114;
  --pri-hex: #1e90ff;
  --pri: rgb(var(--pri-rgb));
  --sec: rgb(var(--sec-rgb));
  --tri: rgb(var(--tri-rgb));
  --sp: 8px;
  --sp1: 8px;
  --sp2: 16px;
  --sp3: 24px;
  --sp4: 32px;
  --sp5: 40px;
  --sp6: 48px;
  --sp7: 56px;
  --sp8: 64px;
  --sp-2: 4px;
  --sp-4: 2px;
  --sp-8: 1px;
  --trans: 100ms ease-in-out;
  --trans-slow: 250ms ease-in-out;
  --fontSizeXS: 0.5rem;
  --fontSizeS: 0.75rem;
  --fontSize: 1rem;
  --fontSizeL: 1.5rem;
  --fontSizeXL: 2rem;
  --fontSizeXXL: 3rem;
  --bp-mobile: 480px;
  --bp-tablet: 720px;
  --bp-desktop: 1080px;
  --font: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-rgb: 0, 0, 0;
    --bg: rgb(var(--bg-rgb));
    --acc7: #ccc;
    --acc6: #999;
    --acc5: #666;
    --acc4: #444;
    --acc3: #333;
    --acc2: #222;
    --acc1: #111;
    --gray: var(--acc4);
    --white: #000;
    --black: #fff;
    --fg: rgb(var(--fg-rgb));
    --fg-rgb: 255, 255, 255;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  transition: var(--trans);
  padding: 2px;
  margin: -2px;
}

a:hover {
  color: black;
  background: var(--pri);
}

html {
  overflow-x: hidden;
}

html,
body {
  font-size: 16px;
  color: var(--fg);
  font-family: var(--font);
  background: var(--bg);
}
