.md {
  display: flex;
  flex-direction: column;
  gap: var(--sp);
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  font-size: 1.5rem;
  padding-top: var(--sp3);
  padding-bottom: var(--sp);
  font-family: var(--font-grotesk);
}

.md code {
  font-family: var(--font-mono);
  padding: 4px;
  border-radius: 4px;
}

.md pre,
.md code {
  background: var(--acc1);
  border: solid 1px var(--acc2);
}

.md pre {
  padding: 16px;
  border-radius: 16px;
}

.md pre code {
  border: none;
}

.smd h1,
.smd h2,
.smd h3,
.smd h4,
.smd h5,
.smd h6 {
  font-size: 1.125rem;
  font-weight: bold;
}
